/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    border: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
/* Banner Design Starts */
.banner {
    display: flex;
    width: 1321px;
    height: 646px;
    margin: 50px 140px 0px 140px;
    border-radius: 30px;
    background-color:#161616;
}
.banner:hover {
    cursor: pointer;
}
/* The Introduction */
.intro {
    margin: 111px 0px 0px 106px;
}
.intro h1, p, a {
    color: #FFFFFF;
}
.intro h1 {
    font-size: 70px;
    font-weight: 700;
    width: 531px;
    height: 240px;
    margin-bottom: 80px;
}
.intro p {
    width: 506px;
    height: 78px;
    margin-bottom: 20px;
}
.intro a {
    text-decoration: none;
    background-color:#DD0000;
    padding: 16px 25px;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    margin-bottom: 111px;
}
.link:hover {
    border: 1px white solid ;
}
/* The Image */
.player-foto img {
    margin: 33px 79px 0px 24px;
}
/* Banner Design Ends */
/* The menu starts */
.menu {
    height: 312px;
    width: 312px;
    background-color:#161616;
    margin-top: 130px;
    margin-left: 140px;
    border-radius: 10px;
    margin-right: 0px;
}
.match, .group, .blog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 64px;
    width: 252px;
    background-color: white;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-weight: 500;
}
.match {
    position: relative;
    top: 30px;
    margin-bottom: 60px;
}
.blog {
    background-color:#DD0000;
    color: white;
}
/* The menu ends */
/* Starts the blog section */
.blog-section {
display: grid;
grid-template-columns: repeat(3, 312px);
column-gap: 24px;
row-gap: 24px;
margin-top: 130px ;
position: relative;
right: 115px;
}
.the-whole-post {
    display: flex;
    
}
.blogs {
    width: 312px;
    height: 362px;
    margin-left: 140px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}
.text h3 {
    width: 100px;
    height: 32px;
    border: 1px #161616 solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 192px 15px 20px;
}
.text p {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 20px 20px 20px;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 143px;
    height: 26px;
    margin: 0px 150px 20px 20px;
    
}