/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    border: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
/* Banner Design Starts */
.banner {
    display: flex;
    width: 1321px;
    height: 646px;
    margin: 50px 140px 0px 140px;
    border-radius: 30px;
    background-color:#161616;
}
.banner:hover {
    cursor: pointer;
}
/* The Introduction */
.intro {
    margin: 111px 0px 0px 106px;
}
.intro h1, p, a {
    color: #FFFFFF;
}
.intro h1 {
    font-size: 70px;
    font-weight: 700;
    width: 531px;
    height: 240px;
    margin-bottom: 80px;
}
.intro p {
    width: 506px;
    height: 78px;
    margin-bottom: 20px;
}
.intro a {
    text-decoration: none;
    background-color:#DD0000;
    padding: 16px 25px;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    margin-bottom: 111px;
}
.link:hover {
    border: 1px white solid ;
}
/* The Image */
.player-foto img {
    margin: 33px 79px 0px 24px;
}
/* Banner Design Ends */
/* The menu starts */
.menu {
    height: 312px;
    width: 312px;
    background-color:#161616;
    margin: 130px 24px 0px 140px ;
    border-radius: 10px;
}
.match, .group, .blog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 64px;
    width: 252px;
    background-color: white;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-weight: 500;
}
.match {
    position: relative;
    top: 30px;
    margin-bottom: 60px;
    background-color:#DD0000;
    color: white; 
}

.match,.group,.blog:hover {
    cursor: pointer;  
}
.blog-link {
    text-decoration: none;
    color: black;
}
.match:hover {
    background-color: #DD0000;
    color: #FFFFFF;
}
.group:hover {
    background-color: #DD0000;
    color: #FFFFFF; 
}
.blog:hover {
    background-color:#DD0000;
    color: white;
}
/* The menu ends */
/* Match details */
.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 300px;
}
.upcoming-match {
    display: flex;
}
.matches {
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin: 130px 24px -106px 0px;
}
.matches:hover {
    cursor: pointer;
}
.details {
    margin: 53px 30px 53px 30px;
}
.flags {
    display: flex;
}
.flags h4{
    margin-left: 23px;
    margin-right: 23px;
    position: relative;
    top: 15px;
}
.match-details {
    position: relative;
    left: 35px;
    top: 20px;
    margin-bottom: 10px;

}
.match-details h4 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    right: 20px;
}
.match-details p{
    color:#4D4D4D;
    position: relative;
    right: 10px;
}
/* Starts the footer */
footer {
    width: 100%;
    height: 444px;
    background-color: #161616;
}
footer h2 {
    font-size: 40px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 750px;
    margin-top: 150px;
}
.another-pages {
    size: 16px;
    text-decoration: none;
    color:#B9B9B9;
    position: relative;
    left: 420px;
    top: 300px;
    margin-right: 45px;
}
.social-media {
    position: relative;
    top: 350px;
    right: 200px;
    margin-right: 50px;
}
/* End of the Footer */
/* Responsiveness */
@media only screen and (max-width:688px) {
    /* The banner section */
    .banner {
        flex-direction: column;
        border: 0;
        margin: 10%;
        width: 75%;
        height: 100%;

       } 
       .intro {
        width: 100%;
        margin: 0;
        text-align: center;
        margin-top: 30px;
        margin-right: 10px;
       }
       .intro h1 {
        font-size: 20px;
       }
       .intro h1, p {
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;  
       }
       .intro p {
        font-size: 3vw;
        margin: 0;
        white-space: nowrap; 
        width: 92%; 
        overflow: hidden;
        text-overflow: ellipsis; 
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
       }
    .intro a {
        padding: 8px 12px ;
    }
       .player-foto img {
        width: 233px;
        height: 245px;
        margin-right: 38px;
        margin-left: 38px;
       }
        /* The menu starts  */
    .the-whole-post {
        flex-direction: column;
    }
    .menu {
    height: 100%;
    width: 75%;
    position: relative;
    right: 100px;
    top: -150px;
    background-color: white;
    }
    .match, .group, .blog {
        width: 210px;
        height: 48px;
    }
    .group , .blog {
        border: 1px solid #E8E8E8 ;
    }
    /* List of the matches */
    .all-matches {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 200px;
        left: -380px;
    }
/* The footer starts */
footer {
    height: 600px;
}
footer h2 {
    color:white;
    position: relative;
    left: 150px;
    top: 15px;
}
.another-pages {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    left: 0px;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}
.social-media {
    position: relative;
    left: 70px;
    top: 100px;
}
/* The footer finishes here  */
    }
    @media only screen and (min-width:689px) and (max-width:992px) {
        /* The banner */
        .banner {
            position: relative;
            left: -100px;
            width: 100%;
        }
        .intro {
            width: 316px;
            height: 276px;
            position: relative;
            left: -70px;
        }
        .player-foto img {
            width: 323px;
            height: 340px;
            position: relative;
            top: 200px;
            right: -50px;
        }
        /* The menu  */
        .menu {
            display: flex;
            align-items: center;
            height: 0;
            width: 100%;
            background-color: white;
            position: relative;
           
        }
        .match, .group, .blog {
            display: flex;
            justify-content: center;
            align-items: center;   
            width: 230px;
            height: 64px;
            border: 1px solid #e8e8e8; 
            position: relative;
            left: 100px;
        }
        .match{
            position: relative;
            top: 15px;
        }
       
        .the-whole-post {
            flex-direction: column ;
        }
        /* The blog section  */
        .blog-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            position: relative;
            left: -100px;
        }
        /* The footer  */
        footer {
            height: 600px;
            width: 100%;
        }
        footer h2 {
            color:white;
            position: relative;
            left: 350px;
            top: 15px;
        }
        hr {
            position: relative;
            top: 50px;
            left: 50px;
            width: 700px;
            right: 0px;
        }
        .another-pages {
            display: flex;
            justify-content: center;
            position: relative;
            top: 70px;
            left: 0px;
            margin: 0;
            text-align: center;
            margin-bottom: 30px;
        }
        .social-media {
            position: relative;
            left: 300px;
            top: 100px;
        }
        /* The footer finishes here  */
    }
    @media only screen and (min-width:689px) and (max-width:992px) {
        /* The banner */
        .banner {
            position: relative;
            left: -100px;
            width: 100%;
        }
        .intro {
            width: 316px;
            height: 276px;
            position: relative;
            left: -70px;
        }
        .player-foto img {
            width: 323px;
            height: 340px;
            position: relative;
            top: 200px;
            right: -50px;
        }
        /* The menu  */
        .menu {
            display: flex;
            align-items: center;
            height: 0;
            width: 100%;
            background-color: white;
            position: relative;
            left: -200px;
        }
        .match, .group, .blog {
            display: flex;
            justify-content: center;
            align-items: center;   
            width: 230px;
            height: 64px;
            border: 1px solid #e8e8e8; 
            position: relative;
            left: 70px;
        }
        .match{
            position: relative;
            top: 15px;
        }
        /* Matches schedules */
       .all-matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        left: -920px;
        top: 100px;
       }
       /* The footer  */
       footer {
        height: 600px;
        width: 100%;
    }
    footer h2 {
        color:white;
        position: relative;
        left: 350px;
        top: 15px;
    }
    hr {
        position: relative;
        top: 50px;
        left: 50px;
        width: 700px;
        right: 0px;
    }
    .another-pages {
        display: flex;
        justify-content: center;
        position: relative;
        top: 70px;
        left: 0px;
        margin: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .social-media {
        position: relative;
        left: 300px;
        top: 150px;
        
    }
    /* The footer finishes here  */


    }